__pycache__
.ipynb_checkpoints
.vscode
.virtual_documents
.pytest_cache
Untitled*
verification
sourcetrail
rl_logs
cmotion.c
*.gif
*.png
*.mp4
*.bat
*.jpg
*.npz
*.obj
*.cp39*
*.o
*.so
*.csv
*.zip